.container {
  background: var(--primary);
  color: var(--section-dark);
  border-radius: 8px;
  font-family: var(--text-fonts);
  font-size: var(--text-small-size);
  font-weight: 700;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.container * {
  color: var(--section-dark);
}

.container:hover {
  background-color: var(--primary-hover);
}