.container {
  background: var(--background);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 460px;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 20px;
  padding-left: 30px;
}
