.container {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  color: var(--white);
  background-color: var(--background);
  font-family: var(--text-fonts);
  font-size: var(--title-2-size);
  align-items: center;
  padding: 15px;
  gap: 20px;
  border: var(--light-border);
  max-width: 600px;
  width: calc(100% - 50px);
  margin: auto;
}

.hidden {
  opacity: 0.3;
}

.icon {
  color: var(--border);
}

.title {
  margin-left: 15px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.image {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  position: relative;
}

.elements {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elements-hidden {
  background-color: var(--section-light);
}

.symbol {
  font-size: var(--title-size);
}