.container {
  max-width: 600px;
  width: calc(100% - 50px);
  margin: auto;

  display: flex;
  align-items: center;
  padding: 15px;
  gap: 20px;

  border-radius: 8px;
  color: var(--white);
  background-color: var(--background);
  font-family: var(--text-fonts);
  font-size: var(--text-tiny-size);
  border: var(--light-border);
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.step img {
  display: block;
}

.hidden {
  opacity: 0.3;
}

.icon {
  color: var(--border);
}

.name {
  margin-left: 15px;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
}

.image {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  position: relative;
}

.line {
  background-image: url('/svg/vertical_line.svg');
  height: 40px;
  width: 4px;
}

.elements {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elements-hidden {
  background-color: var(--section-light);
}

.symbol {
  font-size: var(--title-size);
}