.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  gap: 10px;
  border: var(--border);
  border-radius: 15px;
  max-width: 1200px;
  margin: 0 auto;
  cursor: pointer;
}

.container {
  padding: 25px;
}

.title {
  font-family: var(--title-fonts);
  font-size: var(--title-2-size);
  text-transform: uppercase;
  color: var(--primary);
  line-height: 130%;
}