.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  padding: 20px;
  border-radius: 30px;
  width: 850px;
  height: 500px;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to top, rgba(30, 39, 48, 0) 0%, rgba(30, 39, 48, 1) 80%);
}

.block {
  display: inline-block;
  position: relative;
  order: 1;
}

.legend {
  position: absolute;
  top: 87%;
  left: 5%;
  color: white;
  font-size: var(--text-tiny-size);
  font-family: var(--text-fonts);
  max-width: 600px;
}

.year {
  position: absolute;
  top: 87%;
  right: 5%;
  color: white;
  font-size: var(--text-tiny-size);
}

.previous {
  order: 0;
}

.next {
  order: 2;
}

@media (max-width: 940px) {

  .image {
    width: 520px;
    height: 400px;
    object-fit: cover;
  }

  .footer {
    position: absolute;
    bottom: 80px;
    width: 520px;
  }

  .legend {
    max-width: 400px;
  }
}

@media (max-width: 600px) {

  .container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  .image {
    width: 450px;
    height: 500px;
    object-fit: cover;
  }

  .legend {
    max-width: 300px;
    text-align: left;
  }

  .footer {
    position: absolute;
    bottom: 90px;
    width: 80%;
    left: 10%;
  }

  .previous {
    order: 1;
    display: flex;
    flex-grow: 2;
    margin-left: 8%;
    margin-right: 2%;
  }

  .previous>button {
    flex-grow: 2;
  }

  .next>button {
    flex-grow: 2;
  }

  .block {
    order: 0;
    width: 100%;
  }

  .next {
    order: 2;
    display: flex;
    flex-grow: 2;
    margin-left: 2%;
    margin-right: 8%;
  }
}