.footer {
  max-width: 133rem;
  padding-bottom: 5rem;
  padding-left: 6.5rem;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .footer button {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .footer {
    padding: 50px;
  }
}

@media screen and (max-width: 420px) {
  .footer {
    padding: 30px 20px;
  }
}
