.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

/* div:has(> .modal) {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3%;
  gap: 40px;
  width: 85%;
  background: var(--section-light);
  border-radius: 15px;
  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.buttonIcon {
  padding: 5px;
  display: flex;
}

.texts {
  display: flex;
  flex-direction: column;
}

.titleIcon {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-family: var(--title-fonts);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary);
}

.text {
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em 1.8em;
  gap: 15px;
  width: 100%;
  height: 57px;
  background: var(--primary);
  border-radius: 8px;
  order: 2;
}

.textButton {
  width: 67px;
  height: 27px;
  font-family: var(--text-fonts);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: var(--background);
}

.input {
  padding: 20px 25px;
  width: 100%;
  min-height: 100px;
  max-height: 150px;
  background: var(--section-medium);
  border-radius: 8px;
  resize: vertical;
}