.container {
  padding: 40px 25px 20px;
}

.title {
  margin-bottom: 5px;
  font-family: var(--title-fonts);
  color: var(--primary);
  font-size: var(--title-2-size);
  font-weight: var(--bold);
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}